<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRMS.DAL.Properties.Settings.connection" connectionString="server=mcbi-dev; database=ERP_HRMS;user=sa;password=MCBI_ITadmin;" />
    </connectionStrings>
</configuration>