<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRMS.DAL.Properties.Settings.connectionString" connectionString="server=124.105.198.3; database=HRMS1;user=sa;password=MCBI_ITadmin;" />
    </connectionStrings>
</configuration>